doctype html
html
    head
        meta(charset='utf-8')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        link(rel='stylesheet', href='styles/main.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    body

        .container.asktom
            .columns.header.header--light
                .end
                    ul
                        li One
                        li Two
            .columns.wrapper
                p My Body


        script(src='scripts/main.js')
