doctype html
html
    head
        meta(charset='utf-8')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        link(rel='stylesheet', href='styles/main.css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    body

        .container.asktom
            .columns.header.header--dark
                .is-4.start
                    h3 #asktom
                .is-8.end
                    //ul
                        li One
                        li Two
            .columns.wrapper
                .is-12.center
                    button.wrapper--centered.jumboButton(onclick='handleClickStart()')
                        h3 Wie kann ich dir helfen?
                        span.fa-stack.fa-5x
                            i.fa.fa-circle.fa-stack-2x.fa-inverse
                            i.fa.fa-microphone.fa-stack-1x.primary-color
            .columns.footer
                .is-11.end
                    .output-box
                        h1#mytext  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .is-1.end
                    button.rightButton(onclick='handleClick()')
                        span.fa-stack.fa-5x
                            i.fa.fa-circle.fa-stack-2x.fa-inverse
                            i.fa.fa-microphone.fa-stack-1x.primary-color



        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        //script(src='scripts/speechRecognition.js')
        script(src='scripts/main.js')
        script(src='scripts/animate.js')
        script(src='scripts/speech.js')
