body {
	background-color: $primary;
	color: $fontcolor-light;
	transition: all 2s;
}

.black {
	color: black;
}

.primary-color{
	color: $primary;
}

.container {
	width: 100%;
}

.columns {
	padding: 0 1rem 0 1rem;
}

.header {
	min-height: 5rem;

	&.header--light {
		background-color: #ccc;
		color: #333;
	}

	&.header--dark {
		background-color: $secondary;
		color: $fontcolor-light;
	}

	&.header--light-success {
		color: green;
	}
}

.footer {
	position: absolute;
	width: 100%;
	h1 {
		border-bottom: 1px solid #efefef;
		padding: .5em;
	}
	&.active {
		top: 80%;
	}

}

.wrapper {
	&> .is-12 {
		height: 85vh;
		.wrapper--centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			transition: all 1.5s;

			&.clicked {
				top: 80% !important;
				left: 95% !important;

				h3 {
					opacity: 0;
				}
				.fa-stack {
					transition: font-size 1.5s;
					font-size: 2em;
				}
			}
		}
	}
}

.button {
	display: inline-block;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #D5D5D5;
	background-image: linear-gradient(#EEE, #DDD);
	&.button--state-success {
		color: #FFF;
		background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
		border-color: #4A993E;
	}
	&.button--state-danger {
		color: #900;
	}
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 10000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}