body {
	background-color: $primary;
	color: $fontcolor-light;
}

.black {
	color: black;
}

.primary-color{
	color: $primary;
}

.container {
	width: 100%;
}

.columns {
	padding: 0 1rem 0 1rem;
}

.header {
	min-height: 5rem;

	&.header--light {
		background-color: #ccc;
		color: #333;
	}

	&.header--dark {
		background-color: $secondary;
		color: $fontcolor-light;
	}

	&.header--light-success {
		color: green;
	}
}

.wrapper {
	&> .is-12 {
		height: 85vh;
		.wrapper--centered {
			padding-top: 15vh;
		}
	}
}

.button {
	display: inline-block;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #D5D5D5;
	background-image: linear-gradient(#EEE, #DDD);
	&.button--state-success {
		color: #FFF;
		background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
		border-color: #4A993E;
	}
	&.button--state-danger {
		color: #900;
	}
}